.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}

.project.reverse {
  flex-direction: row-reverse;
}

.project-image img {
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}

.project-details {
  flex: 1;
  min-width: 280px;
}

.project-details h2 {
  margin-bottom: 0.5rem;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.tech-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
}

.tech-item i {
  font-size: 32px; /* adjust as needed */
  min-width: 32px;
}

.btn {
  border: 1px solid #cc5200;
  padding: 8px 16px;
  color: #cc5200;
  text-decoration: none;
  margin-right: 10px;
  transition: 0.3s;
}

.btn:hover {
  background:#cc5200 ;
  color: #fff;
}

.project-buttons {
  /* Enables Flexbox on the container */
  display: flex; 

  /* Aligns items horizontally */
  align-items: center; 

  /* Adds space between the items */
  gap: 10px; /* Adjust this value as needed for spacing */
}

/*#c0392b
*/

/* .qrcode {
 border: 1px solid #cc5200; 
}
.qr-code-container {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* border: 1px solid #cc5200; */
/* } */ */

.qr-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Styles for the popup content */
.qr-popup-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  height: 200px;
  width: 200px
}

/* Styles for the close button */
